<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Graph</title>
    <!-- 引入样式 -->
    <link href="https://cdn.bootcss.com/minireset.css/0.0.2/minireset.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        .el-header,
        .el-footer {
            background-color: #409EFF;
            color: #fff;
            line-height: 60px;
        }

        .el-header h1 {
            font-weight: bold;
        }

        .el-aside {
            background-color: #D3DCE6;
            color: #333;
            line-height: 200px;
        }

        .el-main {
            background-color: #E9EEF3;
            color: #333;
            height: 100vh;
        }

        body>.el-container {
            margin-bottom: 40px;
        }

        .el-container:nth-child(5) .el-aside,
        .el-container:nth-child(6) .el-aside {
            line-height: 260px;
        }

        .el-container:nth-child(7) .el-aside {
            line-height: 320px;
        }

        a {
            text-decoration: none;
            color: #666;
        }
    </style>
</head>

<body>
    <div id="app">
        <el-container>
            <el-header>
                <h1>
                    <i class="el-icon-date"></i> 问答系统</h1>
            </el-header>
            <el-container>
                <el-aside width="200px">
                    <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
                        <el-menu :default-openeds="['1']">
                            <a href="/index/">
                                <el-menu-item index="1-1">问答页面</el-menu-item>
                            </a>
                            <a href="/graph/">
                                <el-menu-item index="1-2">图标分析页面</el-menu-item>
                            </a>
                        </el-menu>
                    </el-aside>
                </el-aside>
                <el-main>
                    <el-row>
                        <el-col :span="22">
                            <el-card class="box-card">
                                <div id="main" style="width: 600px;height:400px;"></div>
                            </el-card>
                        </el-col>
                    </el-row>
                </el-main>
            </el-container>
        </el-container>
    </div>

    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- echarts -->
    <script src="https://cdn.bootcss.com/echarts/4.1.0/echarts.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/js/dataTool.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
    <script>
        
        new Vue({
            el: '#app',
            data: function () {
                return {
                    visible: false,
                    formInline: {
                        user: '',
                        region: ''
                    }
                }
            },
            methods: {
                draw: function (params) {
                    var myChart = echarts.init(document.getElementById('main'));
                    $.get('/static/data/les-miserables.gexf', xml => {
                       var graph = echarts.dataTool.gexf.parse(xml); 
                       console.log(graph)

                        var categories = [];
                        for (var i = 0; i < 9; i++) {
                            categories[i] = {
                                name: '类目' + i
                            };
                        }
                        graph.nodes.forEach(function (node) {
                            node.itemStyle = null;
                            node.value = node.symbolSize;
                            node.symbolSize /= 1.5;
                            node.label = {
                                normal: {
                                    show: node.symbolSize > 30
                                }
                            };
                            node.category = node.attributes.modularity_class;
                        });
                        option = {
                            title: {
                                text: 'Les Miserables',
                                subtext: 'Default layout',
                                top: 'bottom',
                                left: 'right'
                            },
                            tooltip: {},
                            legend: [{
                                // selectedMode: 'single',
                                data: categories.map(function (a) {
                                    return a.name;
                                })
                            }],
                            animationDuration: 1500,
                            animationEasingUpdate: 'quinticInOut',
                            series: [
                                {
                                    name: 'Les Miserables',
                                    type: 'graph',
                                    layout: 'none',
                                    data: graph.nodes,
                                    links: graph.links,
                                    categories: categories,
                                    roam: true,
                                    focusNodeAdjacency: true,
                                    itemStyle: {
                                        normal: {
                                            borderColor: '#fff',
                                            borderWidth: 1,
                                            shadowBlur: 10,
                                            shadowColor: 'rgba(0, 0, 0, 0.3)'
                                        }
                                    },
                                    label: {
                                        position: 'right',
                                        formatter: '{b}'
                                    },
                                    lineStyle: {
                                        color: 'source',
                                        curveness: 0.3
                                    },
                                    emphasis: {
                                        lineStyle: {
                                            width: 10
                                        }
                                    }
                                }
                            ]
                        };

                        myChart.setOption(option);
                    }, 'xml')
                   
                }
            },
            mounted() {
                this.draw(123)
            },
        })
    </script>
</body>

</html>